default: &default
  adapter: postgresql
  encoding: unicode
  max_connections: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  url: <%= ENV['CYPRESS'] ? ENV['TEST_DATABASE_URL'] : ENV['DEV_DATABASE_URL'] %>

test:
  <<: *default
  url: <%= ENV["TEST_DATABASE_URL"] %>

production:
  primary: &primary_production
    <<: *default
    url: <%= ENV["DATABASE_URL"] %>
